version: '3.8'

services:
  nginx:
    image: nginx:1.25-alpine
    container_name: rehab_app_nginx
    restart: always
    ports:
      # ロードバランサーからの通信(HTTP)を受け取る
      - "80:80"
    volumes:
      # 作成した設定ファイルを読み込ませる
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      # CSSファイルなどをNginxが読めるように共有する
      - ./app/web/static:/usr/share/nginx/html/static:ro
    depends_on:
      - web
    networks:
      - rehabnet
      
  # Flaskアプリケーション (web)
  web:
    build: . # カレントディレクトリのDockerfileを使用
    container_name: rehab_app_web
    user: root
    restart: always
    expose:            # Docker内部でのみ8080番を開放
      - "8080"
    command: gunicorn --bind :8080 --workers 1 --threads 8 --timeout 300 --preload run:app
    # ports:
    #   # [ローカルPCのポート]:[コンテナ内のポート]
    #   - "5000:8080" # http://localhost:5000 でアクセス可能に
    env_file:
      - .env # .envファイルから環境変数を読み込む
    volumes:
      # RAG (ChromaDB) データをローカルに永続化
      # ※パスは rag_config.yaml の active_pipeline の設定に合わせてください
      # 例: active_pipeline: "raptor_experiment" の場合
      - ./rag_db_data:/app/Rehab_RAG/experiments/hybrid_search_experiment/db
      # 生成されたExcelをローカルでも確認 (任意)
      - ./output:/app/output
      # ログをローカルでも確認 (任意)
      - ./logs:/app/logs

    networks:
      - rehabnet



# コンテナ間通信用のネットワーク
networks:
  rehabnet:
    driver: bridge